<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/foundation.css"/>
<link rel="stylesheet" type="text/css" href="../css/style.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
</head>
<body>

<div data-ng-app="MyApp" data-ng-controller="MyCtrl">

<!--Top Menu Bar-->
<div class="title-bar" id="fixed">
	<div class="title-bar-left">
		MyAppJS
	</div>
		<div class="menu-icon title-bar-right" style="margin: 5px;">
	</div>
</div>

<!--Selector Section-->
<div class="small-12 medium-12 large-3 columns" id="selector" style="height: 850px; padding: 50px;">
	<p>Selector Area:</p>
<!--Location Selector-->
	<p>Location: </p>
	<select data-ng-model="selectedState" data-ng-change="updateCityList()">
		<option value="">--Select State--</option>
		<option data-ng-repeat="(k, v) in cityStateInfo" value="{{ k }}">{{ k }}</option>	
	</select>
        <select>
                <option value="">--Select City--</option>
		<option data-ng-repeat="city in cityList"value="{{ city }}">{{ city }}</option>
        </select>

<!--Date Selector-->
	<p>Date: </p>
	<select>
		<option value="">--Select Month--</option>
	</select>
	<select>
                <option value="">--Select Day--</option>
        </select>
	<select>
                <option value="">--Select Year--</option>
        </select>

<!--Gender Selector-->
	<p>Gender: </p>
	<div class="row">
		<div class="small-5 small-offset-1 columns">
			<p>Male</p>
			<input type="radio" value="male" name="gender">
		</div>
		<div class="small-5 columns">
                        <p>Female</p>
                        <input type="radio" value="female" name="gender">
                </div>
	</div>

	<button type="button" class="button" data-ng-click="getResults()">Get Results!</button>
</div>

<!--Results Section-->
<div class="small-12 large-9 columns" style="padding-top: 50px; height: 850px; overflow: scroll;">

    <div data-ng-repeat="case in results">
        <p>Name: {{ case.Name }}</p>
        <p>Age: {{ case.Age }}</p>
        <p>Date of Birth: {{case.DOB }}</p>
        <p>Missing Since: {{ case.Missing_Since }}</p>
        <p>Height and Weight: {{ case.Height_Weight }}</p>
        <p>Gender: {{ case.Gender }}</p>
        <p>City: {{ case.City }}</p>
        <p>State: {{ case.State }}</p>
        <p>Classification: {{ case.Classification }}</p>
        <p>Characteristics: {{ case.Characteristics }}</p>
        <p>Items: {{ case.Items }}</p>
        <p>Medical Condition: {{ case.Medical_Conditions }}</p>
        <p>For details of the disapearance and images please visit the following link: <br/>
            <a target="_blank" href="{{ case.Link_URL }}">{{ case.Link_URL }}</a></p>
        <hr/>                       
    </div>
                                                                
</div>

<div class="small-12 large-12 columns " style="height: 70px; background-color: gray;"></div>
                                                                
</div>
                                                                
<script src="../angular/app.js"></script>
</body>
</html>
